<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ookdiverse</title>
    <link rel="shortcut icon" href="images/download.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    
</head>
<body>
    <div class="">
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
        <img class="ms-5 mt-5" src="images/rachel khong.jpg" alt="">
        <button class="search-bar shadow" type="submit" id="search-button"><i class="fas fa-search"></i> </button>
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="nav-link active" aria-current="page" href="#">Bookstores</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="nav-link active" aria-current="page" href="#">Help</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="nav-link active" aria-current="page" href="#"> <img src="images/download (5).png" alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="nav-link active" aria-current="page" href="#"><img src="images/download (6).png" alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="nav-link active" aria-current="page" href="#"><img src="images/download (7).png" alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            </div>
            </nav>
    </div>
    <div class="d-flex">
        <img class="real"  src="images/bookdiverse/rachel khong.jpg" alt="">
        <!-- <p  href="" >(Hardcover)</p> -->
        <div class="cover">
            <div class="d-flex">
        <h1 class="">Real Americans</h1>
        <h5 class="fs-6 mt-4 f">(Hardcover)</h5>
            </div>
        <!-- <h1 class="">Real Americans (Hardcover)</h1> -->
        <h2 class="">By Rachel khong</h2>
        <h4>Genre: Fiction</h4>
        <div class="d-flex">
            <img src="images/bookdiverse/star rating.jpg" height="15" width="100" alt="" >&nbsp;&nbsp;
            <h5>7,000 ratings</h5>
                </div>
        <!-- <img src="images/bookdiverse/star rating.jpg" width="100" alt="" ><h5>7,000 ratings</h5> -->
        <p>when twenty-two-year-old Lily Chen,an unpaid intern at a slick media  company,<br>
        meets Matthew.Matthew is everything Lily is not easygoing and <br>
        effortlessly attractive,a native East Coaster and most notably,<br>
        heir to vast pharmaceutical empire.Lily couldn't be more different: <br>
        flat-broke, raised in Tampa,the only child of scientists who fled Mao's <br>
        Cultural Revolution.Despite all this,Lily and Matthew fall in love. <br><br><br>
        In 2021,fifteen-year-old Nick Chen has never felt like he belonged <br>
        on the isolated Washington island where he lives with his single mother,Lily. <br>
        He can't shake the sense she's hiding something. <br> 
        When Nick sets out to find his biological father, the journey <br>
        threatens to raise more questions than it provides answers. </p>
        <h1>In Stock</h1>
    </div>
    </div>
    <div class="button">
    <!-- <button class="rounded-4 px-5 py-3 border-2 border-dark">Add to cart <img src="images/download (6).png" alt=""></button> -->
    <button class="btn btn-white border-2 border-dark rounded-4 px-5 py-3">Add to cart <img src="images/download (6).png" alt=""></button>
    <button class="btn btn-white border-2 border-dark rounded-4 px-5 py-3  ms-5">Add to Wishlist</button>
    <button class="rounded-4 px-5 py-1 border-2 border-dark ms-5 shadow ">&nbsp;&nbsp;&nbsp;Hardcover <br> 10,183 Naira&nbsp;&nbsp;&nbsp;</button>
    <button class="opacity-25 ms-5 rounded-4 px-5 py-3 text-dark fw-bold border-2 border-dark">&nbsp;&nbsp;&nbsp;Softcover&nbsp;&nbsp;&nbsp;</button>
    <button class="opacity-25 ms-5 rounded-4 px-5 py-3 text-dark fw-bold border-2 border-dark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ebook&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
    <button class="opacity-25 ms-5 rounded-4 px-5 py-3 text-dark fw-bold border-2 border-dark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pdf &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </button>
    </div>
    <button class="btn btn-white border border-danger rounded-4 shadow mt-4"><h1>Continue Shopping</h1></button>
    <h1>Related books</h1>
    
    <!-- <div class="back2">
        <img class="image" src="images/Frame 35181.png" width="200px" alt="">
        <div class="back3">
            <button class="login">login</button>
            <div class="display">
                <ul class="li">
                    <li>Library</li>
                    <li>Genres</li>
                    <li>Languages</li>
                    <li>Authors</li>
                </ul>
    
                <ul class="ul">
                    <li>Company</li>
                    <li>About Us</li>
                    <li>Help</li>
                    <li>Become a Partner</li>
                </ul>
            </div>
    
            <div class="border-top border-white border-3 pt-3 text-light fs-3 d-flex justify-content-center gap-5">
                <p>Contact us: </p>
                <p>Terms and privacy</p>
                <p>Delivery & Runs</p>
            </div>
        </div>
    </div> -->
</body>
</html>
