.box{
    font-family: sans-serif
}
.for{
    padding-top: 100px;
}
.lines{
    /* border-bottom: 4px dashed #000;; */
    width: 40%; /* Adjust width to control how much of the page it spans */
    height: 2px; /* Adjust thickness as needed */
    margin: 0 auto; /* Center the line if desired */
    background: repeating-linear-gradient(
        to right,
        #000,
        #000 30px,       /* Length of each dash */
        transparent 70px /* Gap between dashes */
    );
}
.text{
    /* margin-left: 400px; */
    margin-top: 50px;
}
.for1{
    padding-top: 100px;
    margin-left: 400px;
}
.background{
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/medium-shot-students-library.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(from black 1 2 0);
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.search-bar {
    align-items: center;
    border: 1px solid black;
    border-radius: 25px;
    margin-left: 100px;
    margin-top: 50px;
}
#search-button {
    background-color: white;
    border: none;
    padding: 10px 15px;
    background: white;
    font-size: 18px;
    border-radius: 50%;
}
.real{
    margin-left:75px;
    margin-top: 60px;
    display: flex;
}
.cover{
    margin-top: 50px;
    margin-left: 30px;
}
.button{
    margin-left: 80px;
    margin-top: 40px;
}
.photo{
    background-image: url(images/bookdiverse/image\ 27.png);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.grid-container{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* display: inline-block; */
    position: relative;
}
.grid-item{
    height: 100px;
    
}
.grid-item:nth-child(1){
grid-column-start: 1;
/* grid-column-end: 2; */
}
.grid-container2{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* display: inline-block; */
    position: relative;
}
.grid-item2{
    height: 100px;
    
}
.grid-item:nth-child(1){
grid-column-start: 1;
/* grid-column-end: 2; */
}
.land{
    background-image: linear-gradient();
    /* background-image: linear-gradient url(images/bookdiverse/medium-shot-students-library.jpg); */
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* filter: blur(5px); */
}
.search{
    /* filter: invert(1); */
    border-radius: 100%;
    background-color: white;
    padding: 15px;
} 

.back2{
    background-color: #f3687f;
    height: 30vh;
    margin-top: 30px;
    padding-top: 89px;
}

.image{
    margin-top: -100px;
    margin-left: 800px;
}

.back3{
    margin: 0;
    padding: 0;
    background-color: rgb( 29, 18, 19);
    min-height: 100vh;
    overflow: hidden;
    clip-path: polygon(50% 0%, 100% 13%, 100% 43%, 0% 43%, 0 12%);
}

.login{
    color: white;
    padding: 10px 20px;
    margin-top: 150px;
    background-color: #f3687f;
    color: white;
    border-radius: 10px;
    margin-left: 300px;
}

.display{
    display: flex;
    gap: 80px;
}

.li{
    color: white;
    margin-left: 450px;
    margin-top: -50px;
    list-style: none;
}

.ul{
    color: white;
    margin-top: -70px;
    list-style: none;
}
.hr{
    margin-top: 50px;
}
.grid-imaging{
    margin-left: 80px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.grid-i{
    border: 2px solid rgb(173, 172, 172);
    height: 29vh;
    width: 95%;
    margin-left: 70px;
}